#project-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-start: 2rem;

  article {
    --bg-overlay: var(--accent-color-alpha);
    position: relative;
    transition: var(--transition);
    box-shadow: var(--edge-highlight), var(--shadow-glass);
    border-radius: var(--rounded-corner);
    background-color: var(--bg-overlay);
    padding: 1rem;
    overflow: hidden;

    h2 {
      margin: 0;
      color: var(--accent-color);
      font-weight: bold;
      line-height: 1;
      font-family: var(--font-system-ui);
    }

    p {
      margin: 0.5rem 0;
      color: var(--fg-muted-4);
    }

    .tags {
      position: relative;
      justify-content: flex-end;
      z-index: 1;
      margin: 0;

      span {
        background-color: var(--accent-color-alpha);
        color: var(--accent-color);
        padding: 0.375rem 0.75rem;
        border-radius: 999px;
        transition: var(--transition);
        box-shadow: var(--edge-highlight);
        font-size: var(--font-size-small);
        line-height: 1;
        white-space: nowrap;
        font-weight: bold;

        /* &:hover { */
        /* background-color: var(--accent-color); */
        /* color: var(--contrast-color); */
        /* } */
      }
    }

    .links {
      position: relative;
      justify-content: flex-start;
      margin: 0;
      gap: 1rem;

      a {
        background-color: var(--accent-color-alpha);
        color: var(--accent-color);
        padding: 0.375rem 0.75rem;
        border-radius: 999px;
        transition: var(--transition);
        box-shadow: var(--edge-highlight);
        line-height: 1;
        white-space: nowrap;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          background-color: var(--accent-color);
          color: var(--contrast-color);
        }
      }
    }
  }
}